<div class="tasks-container">
    <header class="menu">
        <P class="title">משימות</P>
        <button class="add-item"></button>
    </header>
    <ul class="tasks-list">
        {{#each model as |taskItem index|}}
            {{task-item task=taskItem itemIndex=index}}
        {{/each}}
    </ul>
    {{footer-tasks tasksList=model}}
</div>