<div class="tasks-container">
    <header class="menu">
        <P class="title">משימות</P>
        <button class="add-item"></button>
    </header>
    {{tasks-list tasksList=model class="tasks-main"}}
    {{footer-tasks tasksList=model}}
</div>