<div class="tasks-container">
    {{tasks-header class="tasks-header" onAddItem=(action "addTaskItem")}}
    {{tasks-list 
        tasksList=model 
        class="tasks-main" 
        onDeleteItem=(action "deleteItem")
        onUpdateItem=(action "editItem")}}
    {{footer-tasks class="tasks-footer" tasksList=model}}
</div>